@media (min-width: 308px) and (max-width: 690px) {
  .formContainer {
    margin-top: 5px;
    position: relative;
    top: 0px;
    padding: 25px;
    left: 10%;
  }
  .contactForm-btn {
    position: relative;
    top: 3px;
    cursor: pointer;
    z-index: 999;
  }
}

@media (min-width: 768px) and (max-width: 1104px) {
  .formContainer {
    margin-top: 5px;
    position: relative;
    top: 0px;
    padding: 25px;
    left: 1%;
    border-radius: 10px;
  }
}
